html
    head
        title Kenziegram
        link(rel="stylesheet", href="style.css")
    body   
        form(method="post" action="/upload" id="user-create-form" enctype="multipart/form-data")
            legend Welcome to Kenziegram! 
            <br><br>
            label(for="myfile") Choose an image to upload
            <br>
            input(type="file" id="myFile" name="myFile")
            <br>
            <br>
            button(type="submit") Submit
            button(type="reset") Reset

        div(id="photosDiv") 
           ul
            each imageName in photosArr
                img(src="/uploads/" + imageName, alt="photo")

        
