html
    head
        title Upload Page
    body
        h1 Image Uploaded Successfully!
        img(src="/uploads/" + fileToUpload, alt="")
        <br>
        a(href="/")
            button(type="submit") Return To The Homepage